{
    auto_https off
}

insulation.pixel-assist.com.au {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin-key.pem

    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "POST, OPTIONS"
    header Access-Control-Allow-Headers "*"

    @options method OPTIONS
    respond @options 204

    handle /api/embed/*/stream-chat {
        reverse_proxy pii-proxy:8000 {
            flush_interval -1
        }
    }

    handle {
        reverse_proxy anythingllm:3001
    }
}
